@mixin button_common($backgroundColor, $color) {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 130px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 5px 15px;
  background-color: $backgroundColor;
  color: $color;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 1px 8px 3px rgba(0, 0, 0, 0.2);
  &:disabled {
    background-color: rgb(179, 179, 179);
    opacity: 0.6;
  }
}

.max-hint {
  margin-bottom: 3vh;
  font-size: 18px;
}

.list-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  .option-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .hand-pointing {
    position: absolute;
    height: 100px;
    right: 0px;
    top: 5px;
    transform: rotate(-20deg);
    z-index: 1;
    animation: handPointing 1s ease-in-out 0s 4 alternate;
  }
  .hand-picking {
    position: absolute;
    height: 100px;
    right: 0px;
    z-index: 1;
    animation: handPicking 1s ease-in-out 0s 2 forwards;
  }
}

.btns-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  .btn-add {
    @include button_common(white, sandybrown);
    border: 1px solid sandybrown;
    &:disabled {
      color: white;
    }
  }
  .btn-start {
    @include button_common(sandybrown, ivory);
  }
  .btn-icon {
    margin-right: 15px;
    height: 35px;
  }
}

@keyframes handPicking {
  from {
    transform: rotate(-20deg) scale(1);
  }
  50% {
    transform: rotate(10deg) scale(1.05);
  }
  to {
    transform: rotate(-20deg) scale(1);
  }
}

@keyframes handPointing {
  from {
    top: 20px;
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  to {
    top: calc(100% - 50px);
  }
}
